body {
    background-image: url("../../assets/bg-body.gif");
}

.container {
    width: 920px;
    margin-right: auto;
    margin-left: auto;

    background-color: whitesmoke;
    position: relative;
}

#title {
    text-align: center;
    font-size: 64px;

    padding: 16px;
}

#mainContainer {
    height: 704px;
}

#mainText {
    font-size: 32px;
    white-space: pre-line;
    padding: 8px;
}


#questionIcon {
    position: absolute;
    bottom: 16px;
    right: 16px;
}