/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "OldCharlotte";
    src: url(assets/fonts/old_charlotte.ttf);
}

body {
    background-image: url("./assets/images/temp_storm.jpg");
}